
body {
  background-color: #184047
}
nav.navbar {
  border-width: thin;
  border-color: #ffffff;
  border-style:solid;
  margin-top: 5px;

}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-family: helvetica;
  font-size: 40px;
  margin: 20px 130px 10px 20px;
  padding: 10px 10px 5px 10px;

}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
h1 {
  color: #ffffff;
  text-align: center;
}
