
.container {
  position: relative;
  width: 50%;


body {
  background-color: #184047
}
div.topnav {
  border-width: thin;
  border-color: #ffffff;
  border-style:solid;
  margin-top: 15px;

}
.topnav a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-family: helvetica;
  font-size: 40px;
  margin: 60px 100px 20px 30px;
  padding: 0px 10px 5px 10px;

}

* {
    box-sizing: border-box;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
